body{

    background-color: rgb(46, 33, 157);

}
.myh3{
    margin: 15px;
    text-align: center;
    font-size: 40px;
    
}
.myform{
    margin: 3% 10%;
    padding: 10px;
    background-color: rgb(21, 84, 244);
    text-align: center;
}


#content{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    resize: none;
    width: 90%;
    color: black;
}
#submit{
    background-color: rgb(18, 18, 120);
    margin: 10px;
    color: white;
    padding: 7px 25px;
    font-size: large;
}
#title{
    border-radius: 20px;
    width: 90%;
    padding: 10px;
}

.mypara{
    font-size: 30px;
    font-style: oblique;
}

#interview{
    
    margin: 0% 5%;
    padding: 1%;
    display: inline-block;
}
#blog{
    
    margin: 0% 5%;
    padding: 1%;
    display: inline-block;
}
#notice{
    margin: 0% 5%;
    padding: 1%;
    display: inline-block;
}
#interview:hover{
    background-color: rgb(210, 198, 198);
}
#blog:hover{
    background-color: rgb(210, 198, 198);
}
#notice:hover{
    background-color: rgb(210, 198, 198);
}